.modal(data-modal="newscreen")
  a.close-modal(href="##")
    span x
  form.modal-content(action="/newscreen", name="newscreen", method="POST")
    .item
      label(for="screenName") Screen Name?
      input(name="screenName", type="text")
    .item
      input(type="submit", value="Create Screen")
    
