/* Default Theme */

// Color Variables
@white: #fff;
@dark: #222;
@dark-lighter: #363636;

@gray: #ddd;
@gray-darker: #aaa;

@primary: #76fb82; //lime green
@secondary: #ff3f9a; //watermeLLon


// Color Utility: Backgrounds
.bg-white { background:@white;color:@dark; }
.bg-dark { background:@dark;color:@white; }
.bg-gray { background:@gray;color:@dark; }

// Color Utility: Text
.text-white { color:@white; }
.text-black { color:@dark; }

// Theme Master
body.theme-default {
  .bg-dark;

  // Logo
  .logo {
    color:@secondary;
    span {color:@primary;}
  }

  // Dashboard
  #dashboard {

    .stats { border-color:@gray-darker; }

    .button {
      border-color:@gray-darker;
      background:rgba(255,255,255,.25);
    }
  }

}
