doctype html
html
  head
    title= `chiLLum Lite | ${title && title}`
    link(href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Poiret+One|Roboto", rel="stylesheet")
    link(rel='stylesheet', href='styles/bundle.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.theme-default
    block header
      | &nbsp;

    .content
      block content

    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="scripts/bundle.min.js")
