doctype html
html.theme-default.screen
  //
    ......._....._._......_......................._......_._.......
    ......|.|...(_).|....|.|.....................|.|....(_).|......
    ...___|.|__.._|.|....|.|...._..._._.__.___...|.|....._|.|_.___.
    ../.__|.'_.\|.|.|....|.|...|.|.|.|.'_.`._.\..|.|....|.|.__/._.\
    .|.(__|.|.|.|.|.|____|.|___|.|_|.|.|.|.|.|.|.|.|____|.|.||..__/
    ..\___|_|.|_|_|______|______\__,_|_|.|_|.|_|.|______|_|\__\___|
    .........................................______................
    ........................................|______|...............
  head
    title= `chiLLum Lite | ${title && title}`
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,400,900" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.woff")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/styles/bundle.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.theme-screen.screen
    include ../partials/flashes
    block header
      
    .content
      block content

    include ../modals/screenWidgetModal

    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/scripts/bundle.min.js")
        
