extends layouts/default

block content
  #dashboard
    .logo
      | chi<span class="spin">L</span>Lum
      span.accent Lite
    .quick-stats
      span Users: #{chillum.totalUsers}
      a.btn.ghost.tiny#test(href="##") Socket Test
    .section.justify-center
      a.btn(href="#idk") Thing 1
      a.btn(href="#idk") Thing 1
      a.btn(href="#idk") Thing 1
      a.btn(href="#idk") Thing 1
