extends layouts/default

block content
  #dashboard
    .logo
      | chi<span class="spin">L</span>Lum
      span.accent Lite
    .quick-stats
      span Users: #{chillum.totalUsers}
    .section.justify-center
      - const screensAvailable = screens.length > 0 ? true : false
      if screensAvailable
        each s in screens
          a.btn(href=`/screen/${s.name}`)= s.name
      else
        .section.flex-column
          .section.justify-center
            p Hey wtf u don't have a screens!?
          .section
            a.btn(data-modal-opens="newscreen" href="##") Create New Screen
        
