extends layouts/default

block content
  #dashboard
    .logo
      | chiLLum
      span Lite
    .stats
      span Users: 9999
      span Screens: 68
      span Commands: 74
      a#test(href="##") Socket Test
    .section.justify-center
      a.button(href="#idk") Thing 1
      a.button(href="#idk") Thing 1
      a.button(href="#idk") Thing 1
      a.button(href="#idk") Thing 1
