.logo {
  .block;.relative;
  .text-center;
  font-size:5rem;
  .font-bold;
  span {.font-thin;}
  padding:1rem 0;
}

#dashboard {

  .logo {.no-select;}
  
  .stats {
    .absolute;
    top:.25rem;right:.25rem;
    padding:.75rem;
    font-size:.8rem;
    font-family:'Consolas',monospace;
    border:1px dotted transparent;
    span {
      .block;
      margin-bottom:.5rem;
    }
  }

  .button {
    .section;
    .border-radius(.25rem);
    margin:1rem;
    padding:1rem 2rem;
    border:1px solid transparent;
  }


}
