html.dashboard.theme-default {
  width:100%;height:100%;
  body {
    width:100%;height:100%;
    background-image:url('/images/dashboard.jpg');
    background-repeat:no-repeat;
    .background-size(cover);
  }
}

#dashboard {
  .relative;
  .logo { .no-select; }

  .quick-stats {
    .absolute;.block;
    z-index:5;

    top:0;left:0;
    font-size:.8rem;

    span { .block; margin-bottom:.38rem;}
    .btn { margin: .65rem 0 0 0; span { margin-bottom:0; } }
  }

}
