#dashboard {
  .relative;
  .logo { .no-select; }

  .quick-stats {
    .absolute;
    .font-console;
    top:.25rem;left:.25rem;
    padding:.75rem;
    font-size:.8rem;
    border:1px dotted transparent;

    span {
      .block;
      margin-bottom:.5rem;
    }
    .btn { margin: .65rem 0 0 0; }
  }

}
