body.screen {
  width:100%;height:100%;
  body, .content {width:100%;height:100%;}
}

#screen {
  .fixed;.block;
  top:0;left:0;bottom:0;right:0;

  .widget { .absolute;.block; }

  h1 {
    .fixed;.block;
    z-index:-1;
    top:30%;
    .opacity(.05);
    .text-center;
    margin:auto;
    width:100%;height:auto;
    .no-select;
    font-size:8rem;
  }

}
